.App {
  text-align: center;
  color: white;
}

.Start {
  color: white;
  text-align: center;
}

.Header {
  color: white;
  padding: 1rem;
  margin: 1rem;

}
.startLink {
  color: white;
  text-decoration: none;
  background-color: darkolivegreen;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.startLink:hover {
  background-color: rgb(144, 160, 117);
}

.quizLink {
  color: white;
  text-decoration: none;
}

.inputQuiz {
  margin-top: 50px;
}

.input {
  height: 30px;
  width: 200px;
  border: none;
  padding-left: 15px;
  border-radius: 5px;
}

.input:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.button {
  height: 36px;
  width: 60px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: chocolate;
}

.button:hover {
  background-color: rgb(78, 78, 133);
}

.questionButton {
  height: 35px;
  width: 200px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: chocolate;
  color: white;
}

.questionButton:hover {
  background-color: rgb(78, 78, 133);
}

.quizFragen {
  border: 2px solid;
  border-radius: 5px;
  background-color: cadetblue;
  width: 80%;
}

.quizUser {
  background-color: crimson;
  width: 50%;
  border-radius: 5px;
  padding: 10px;
}

.frageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counterContainer {
  display: flex;
  justify-content: center;
}

.counterContainerItem {
  width: 50px;
  padding: 15px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: cornflowerblue;
}