.App {
  text-align: center;
  color: white;
}

.Start {
  color: white;
  text-align: center;
}
 
.Header {
  color: white;
  padding: 1rem;
  margin: 1rem;

}
.startLink {
  color: white;
  text-decoration: none;

}

.quizLink {
  color: white;
  text-decoration: none;
}

.inputQuiz {
  margin-top: 50px;
}

.input {
  height: 30px;
}

.button {
  height: 36px;
  width: 60px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: blue;
}
