body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    background-color: rgb(68, 65, 65);
    background-image: url(https://github.com/safak/youtube/blob/react-quiz/src/assets/bg.jpg?raw=true);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

